<div class="items flex flex-col gap-2">
    @if (cartItems) {
        @for (cartItem of cartItems; track $index) {
            <cart-item
            itemImage="https://m.media-amazon.com/images/I/81KRhLp0JGL._UF1000,1000_QL80_.jpg"
            [itemName]="cartItem.product.name"
            [itemAmount]="cartItem.amount"
            [itemPrice]="cartItem.product.price"
            [cartItemId]="cartItem.id"
            (deleteEvent)="removeItem($event)"
            ></cart-item>
        }
    }
</div>