<standart-page>
    <div class="center-content mx-3 sm:mx-0">
        <article class="mb-5 offer">
            <div class="title-container">
                <h1 class="text-3xl font-light text-emerald-700">Oferta do dia</h1>
            </div>
            <div class="product-grid product-grid grid gap-2">
                @if (manyProducts) {
                    @for (product of manyProducts; track $index) {
                        <product-card
                        [id]="product.id"
                        [name]="product.name"
                        [price]="product.price"
                        ></product-card>
                    }
                }
            </div>
        </article>
    </div>
</standart-page>
